! Xft settings -------------------------------------------------

Xft.dpi:	96
Xft.antialias:	true
Xft.rgba:	rga
Xft.hinting:	true
Xft.hintstyle:	hintslight


! special
!*.foreground:   #cdcdcd
!*.background:   #080808
!*.cursorColor:  #cdcdcd

! black
!*.color0:       #282828
!*.color8:       #525252

! red
!*.color1:       #c51d1a
!*.color9:       #cb4b16

! green
!*.color2:       #19cb00
!*.color10:      #859900

! yellow
!*.color3:       #b58900
!*.color11:      #657b83

! blue
!*.color4:       #225bf0
!*.color12:      #268bd2

! magenta
!*.color5:       #d33682
!*.color13:      #6c71c4

! cyan
!*.color6:       #2aa198
!*.color14:      #93a1a1

! white
!*.color7:       #eee8d5
!*.color15:      #fdf6e3




! Solarized Dark

! Common
! #define s_yellow	#b58900
! #define s_orange	#cb4b16
! #define s_red		#dc322f
!#define s_magenta	#d33682
!#define s_violet	#6c71c4
!#define s_blue		#268bd2
!#define s_cyan		#2aa198
!#define s_green	#859900

! Dark
!#define s_base03	#002b36
!#define s_base02	#073642
!#define s_base01	#586e75
!#define s_base00	#657b83
!#define s_base0	#839496
!#define s_base1	#93a1a1
!#define s_base2	#eee8d5
!#define s_base3	#fdf6e3


!urxvt*background:                       rgba:0000/020b/0306/dddd
!urxvt*foreground:                       #ffffff

!urxvt*color0:                         	#002b36
!urxvt*color1:                         	#dc322f
!urxvt*color2:                         	#859900
!urxvt*color3:                        	#b58900 
!urxvt*color4:                         	#268bd2
!urxvt*color5:                        	#6c71c4 
!urxvt*color6:                        	#2aa198 
!urxvt*color7:                        	#93a1a1 
!urxvt*color8:                         	#657b83
!urxvt*color9:                        	#dc322f 
!urxvt*color10:                        	#859900
!urxvt*color11:                       	#b58900 
!urxvt*color12:                        	#268bd2
!urxvt*color13:                       	#6c71c4 
!urxvt*color14:                       	#2aa198 
!urxvt*color15:                       	#fdf6e3 

!urxvt*background:                       s_base03
!urxvt*foreground:                       s_base0

!urxvt*color0:                         	s_base02
!urxvt*color1:                         	s_red
!urxvt*color2:                         	s_green
!urxvt*color3:                        	s_yellow
!urxvt*color4:                         	s_blue
!urxvt*color5:                        	s_magenta
!urxvt*color6:                        	s_cyan
!urxvt*color7:                        	s_base2
!urxvt*color8:                         	s_orange
!urxvt*color9:                        	s_base03
!urxvt*color10:                        	s_base01
!urxvt*color11:                       	s_base00
!urxvt*color12:                        	s_base0
!urxvt*color13:                       	s_violet
!urxvt*color14:                       	s_base1
!urxvt*color15:                       	s_base3


!!Source Code Pro
!urxvt*font: xft:Source Code Pro for Powerline:pixelsize=16:antialias=true:hinting=true
!urxvt*boldFont: xft:Source Code Pro for Powerline:bold:pixelsize=16:antialias=true:hinting=true
!urxvt*italicFont: xft:Source Code Pro for Powerline:italic:pixelsize=16:antialias=true:hinting=true
!urxvt*boldItalicFont: xft:Source Code Pro for Powerline:bold:italic:pixelsize=16:antialias=true
!
!urxvt*letterSpace: 0 

!*.font: xft:Ubuntu Mono:pixelsize=12:antialias=true:hinting=true
!*.boldFont: xft:Ubuntu Mono:bold:pixelsize=12:antialias=true:hinting=true
!*.italicFont: xft:Ubuntu Mono:italic:pixelsize=12:antialias=true:hinting=true
!*.boldItalicFont: xft:Ubuntu Mono:bold:italic:pixelsize=12:antialias=true

!*.letterSpace: 0
