urxvt.urgentOnBell: off
urxvt.visualBell: false
urxvt.iso14755: false
urxvt.iso14755_52: off
urxvt.meta8: true
!urxvt.depth: 32
urxvt.iconFile: /usr/share/icons/Humanity/apps/128/utilities-terminal.svg
urxvt.metaSendsEscape: truee

urxvt.internalBorder: 0
urxvt.externalBorder: 0

urxvt.scrollBar: off
urxvt.cursorBlink: true
urxvt.cursorUnderline: false
urxvt.cursorColor:#ffff00
urxvt.saveLines: 10000
urxvt.scrollTtyOutput:   false
urxvt.scrollWithBuffer:  true
urxvt.scrollTtyKeypress: true

urxvt*depth:32
urxvt*foreground: #B0B0B0
urxvt*background: rgba:2000/2000/2000/cccc

!urxvt.foreground: 15
!urxvt.geometry: 100x50

! Ctrl-Tab, Ctrl-Shift-Tab and other bindings in urxvt
urxvt.keysym.Control-Up:   \033[1;5A
urxvt.keysym.Control-Down:    \033[1;5B
urxvt.keysym.Control-Left:    \033[1;5D
urxvt.keysym.Control-Right:    \033[1;5C

!!Hermit
!urxvt*font: xft:Hermit:medium:size=12:antialiasing=true
!urxvt*boldFont: xft:Hermit:bold:size=12:antialiasing=true:style=medium
!urxvt*italicFont: xft:Hermit:medium:size=12:antialiasing=true:style=medium
!urxvt*boldItalicFont: xft:Hermit:bold:size=12:antialiasing=true:style=medium
!urxvt.letterSpace: -1

!!Inconsolata
!urxvt.font: xft:Inconsolata for Powerline:pixelsize=20:antialias=true:hinting=true
!urxvt.boldFont: xft:Inconsolata for Powerline:bold:pixelsize=20:antialias=true:hinting=true
!urxvt.italicFont: xft:Inconsolata for Powerline:italic:pixelsize=20:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:Inconsolata for Powerline:bold:italic:pixelsize=20:antialias=true
!urxvt.letterSpace: -1

!!DejaVu Sans
!urxvt.font: xft:Dejavu Sans Mono for Powerline:pixelsize=16:antialias=true:hinting=true
!urxvt.boldFont: xft:DejaVu Sans Mono for Powerline:bold:pixelsize=16:antialias=true:hinting=true
!urxvt.italicFont: xft:DejaVu Sans Mono for Powerline:italic:pixelsize=16:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:DejaVu Sans Mono for Powerline:bold:italic:pixelsize=16:antialias=true
!urxvt.letterSpace: -1

!!!Droid Sans
!urxvt.font: xft:Droid Sans Mono for Powerline:pixelsize=20:antialias=true:hinting=true
!urxvt.boldFont: xft:Droid Sans Mono for Powerline:bold:pixelsize=20:antialias=true:hinting=true
!urxvt.italicFont: xft:Droid Sans Mono for Powerline:italic:pixelsize=20:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:Droid Sans Mono for Powerline:bold:italic:pixelsize=20:antialias=true
!urxvt.letterSpace: -1

!!Droid Sans
urxvt.font: xft:Droid Sans Mono for Powerline:pixelsize=10:antialias=true:hinting=true
urxvt.boldFont: xft:Droid Sans Mono for Powerline:bold:pixelsize=10:antialias=true:hinting=true
urxvt.italicFont: xft:Droid Sans Mono for Powerline:italic:pixelsize=10:antialias=true:hinting=true
urxvt.boldItalicFont: xft:Droid Sans Mono for Powerline:bold:italic:pixelsize=10:antialias=true
urxvt.letterSpace: -1

!! Monofur
!urxvt.font: xft:Monofur for Powerline:pixelsize=22:antialias=true:hinting=true
!urxvt.boldFont: xft:Monofur Bold for Powerline:pixelsize=22:antialias=true:hinting=true
!urxvt.italicFont: xft:Monofur Italic for Powerline:pixelsize=22:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:Monofur Bold for Powerline:italic:pixelsize=22:antialias=true

!! Anonymice
!urxvt.font: xft:Anonymice Powerline:pixelsize=21:antialias=true:hinting=true
!urxvt.boldFont: xft:Anonymice Powerline Bold:pixelsize=21:antialias=true:hinting=true
!urxvt.italicFont: xft:Anonymice Powerline Italic:pixelsize=21:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:Anonymice Bold Italic:pixelsize=21:antialias=true
!urxvt.letterSpace: 1

!! Literation
!urxvt.font: xft:Literation Mono Powerline:pixelsize=18:antialias=true:hinting=true
!urxvt.boldFont: xft:Literation Mono Bold for Powerline:pixelsize=18:antialias=true:hinting=true
!urxvt.italicFont: xft:Literation Mono Italic for Powerline:pixelsize=18:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:Literation Mono Bold for Powerline:italic:pixelsize=18:antialias=true
!urxvt.letterSpace: -1

!! Sauce Code
!urxvt.font: xft:Sauce Code Powerline:pixelsize=20:antialias=true:hinting=true
!urxvt.boldFont: xft:Sauce Code Powerline Bold:pixelsize=20:antialias=true:hinting=true
!urxvt.italicFont: xft:Sauce Code Powerline Italic:pixelsize=20:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:Sauce Code Bold Italic:pixelsize=20:antialias=true
!urxvt.letterSpace: -1

!! Ubuntu Mono derivative
!urxvt.font: xft:Ubuntu Mono derivative Powerline:pixelsize=20:antialias=true:hinting=true
!urxvt.boldFont: xft:Ubuntu Mono derivative Powerline Bold:pixelsize=20:antialias=true:hinting=true
!urxvt.italicFont: xft:Ubuntu Mono derivative Powerline Italic:pixelsize=20:antialias=true:hinting=true
!urxvt.boldItalicFont: xft:Ubuntu Mono derivative Bold Italic:pixelsize=20:antialias=true
!urxvt.letterSpace: -1


!urxvt.font: 	xft: Anonymice Powerline:pixelsize=17:anialias=true
!		xft: DejaVu Sans Mono for Powerline:pixelsize=12:anialias=true
!		xft: Digital Readout Thick UprightPowerline:pixelsize=17:anialias=true
!		xft: Droid Sans Mono for Powerline:pixelsize=12:anialias=true
!		xft: FuraMono-Regular Powerline:pixelsize=17:anialias=true
!		xft: Inconsolata for Powerline:pixelsize=17:anialias=true
!		xft: Literation Mono Powerline:pixelsize=17:anialias=true
!		xft: Meslo L DZ Regular for Powerline:pixelsize=17:anialias=true
!		xft: Monofur for Powerline:pixelsize=17:anialias=true
!		xft: Sauce Code Powerline Medium:pixelsize=17:anialias=true
!		xft: Ubuntu Mono derivative Powerline:pixelsize=17:anialias=true


! Disable screen printing by overriding the default print pipe.
urxvt.print-pipe: "cat >/dev/null"

urxvt.perl-ext-common : default,keyboard-select,url-select,clipboard

urxvt.keysym.M-x           	: perl:keyboard-select:activate
urxvt.keysym.M-u           	: perl:url-select:select_next
urxvt.keysym.M-c           	: perl:clipboard:copy
urxvt.keysym.M-v           	: perl:clipboard:paste
urxvt.keysym.M-s           	: perl:keyboard-select:search
urxvt.keysym.M-C-v         	: perl:clipboard:paste_escaped
!urxvt.perl-ext-common     	: tabbed,default,matcher
!urxvt.perl-lib            	: /usr/lib/urxvt/perl/
urxvt.url-select.launcher  	: luakit
urxvt.url-select.autocopy  	: true
urxvt.url-select.underline 	: true

urxvt.url-select.button:   1

!urxvt.clipboard.copycmd:  xsel --input  --clipboard
!urxvt.clipboard.pastecmd: xsel --output --clipboard

!urxvt.keysym.Control-Shift-C: perl:clipboard:copy
!urxvt.keysym.Control-Shift-V: perl:clipboard:paste

! Black
urxvt.color0:  #5c5c5c
urxvt.color8:  #4c4c4c
! Red
urxvt.color1:  #cd0000
urxvt.color9:  #ff0000
! Green
urxvt.color2:  #00cd00
urxvt.color10: #00ff00
! Yellow
urxvt.color3:  #cdcd00
urxvt.color11: #ffff00
! Blue
urxvt.color4:  #1e90ff
urxvt.color12: #4682b4
! Magenta
urxvt.color5:  #cd00cd
urxvt.color13: #ff00ff
! Cyan
urxvt.color6:  #00cdcd
urxvt.color14: #00ffff
! White
urxvt.color7:  #cfcfcf
urxvt.color15: #a8a8a8
